@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  background-image: url("https://images.unsplash.com/photo-1553895501-af9e282e7fc1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  width: 100%;
  font-weight: 300;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.auto-complete__wrapper {
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 0 30px 0;
}

.auto-complete__title {
  font-weight: 600;
  font-size: 45px;
  padding: 0 0 20px 0;
}

.auto-complete__input {
  display: block;
  width: 500px;
  height: 60px;
  border: 1px solid #d8d9da;
  border-radius: 24px;

  padding: 15px;
  margin: 0 0 20px 0;
  font-size: 20px;
  box-shadow: 5px 5px 21px -5px rgba(169, 173, 176, 0.6);
}

.auto-complete__input::-webkit-input-placeholder {
  font-size: 16px;
  color: #616263;
}
.auto-complete__input:focus::-webkit-input-placeholder {
  color: transparent;
}

.auto-complete__container {
  width: 50%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255, 0.9);
  box-shadow: 5px 5px 21px -5px rgba(169, 173, 176, 0.6);
  border-radius: 14px;
}

.auto-complete__list {
  height: 480px;
  padding: 25px;
  overflow: auto;
}

.auto-complete__item {
  padding: 7.5px;
  margin-top: 15px;
  position: relative;
  &:after {
    position: absolute;
    content: "";
    bottom: -6px;
    left: 5px;
    width: 100%;
    border-bottom: 1px solid #d9d6d8;
  }
}

.auto-complete__final-item {
  text-align: center;
  font-weight: 600;
  margin-top: 20px;
}

.auto-complete__no-results {
  text-align: center;
  font-weight: 600;
  padding: 15px;
}
